<td><%= name %></td>
<td><%= display_name %></td>
<td><%= amount %></td>
<td><%= due_date %></td>


<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>