<!DOCTYPE html>
<html>
<head>
	<title>VitaminM</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="user_nav">
		<% if user_signed_in? %>
		Signed in as <%= current_user.email %>.
		<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>. 
		<% else %>
		<%= link_to "Connect With Google", user_omniauth_authorize_path(:google_oauth2) %>
		<%= link_to "Sign in", '/users/sign_in' %>   
		<%= link_to "Sign up", '/users/sign_up' %>   

		 <% end %>
	</div>


	<%= yield %>

</body>
</html>
